<!DOCTYPE html>
<html>
  <head>
    <title>Minesweeper</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="app/static/css/index.css" type="text/css">
    <script type="text/javascript" src="app/static/js/index.js"></script>
  </head>
  <body>
      <div id="box">
         <h2>MINESWEEPER!</h2><hr><br><br>
            <div id="field"></div>
            <br>
          <div id="lost" style="display: none;">
            <h3>You got bombed!</h3>
            <button id="new-game-button" type="button" onclick="reload()">Start Again</button>
          </div>         
      </div>
  </body>
</html>
